@import url("root.css");

body {
  background-image: url("../assets/svg/Background.svg");
  background-size: cover;
  background-color: black;
  background-repeat: repeat;
  font-family: "MyVariableFont", sans-serif;
  font-weight: 100;
}
div {
  height: 400vh;
  color: white;
}
nav {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 0 auto;
  & span {
    color: white;
  }
}
