@import url("Fonts.css");
@import url("Nav.css");
@import url("Hero.css");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;

  font-family: "montserrat", sans-serif;
}

h2 {
  font-family: "pricedown", sans-serif;
}
