@import url("Fonts.css");
@import url("Nav.css");
@import url("Hero.css");

body {
  font-family: "pricedown", sans serif;
  font-weight: 400;
  background-color: #000000;
  cursor: url("../assets/cursor.cur"), auto;
}
