.contact {
  margin-top: 5rem;

  color: red;
  display: flex;

  & .contact__socials {
    display: flex;

    margin: 0 auto;
    gap: 2rem;
    align-items: center;
    width: fit-content;

    & .contact__socials--link {
      list-style: none;

      width: 5rem;
    }
  }
}
