@import url("Card.css");

.work {
  display: flex;
  flex-direction: column;
  height: 160svh;

  & .work__title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    padding: 3rem;
    align-self: center;
    font-size: 5rem;
  }

  & .work__cards {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;

    & .card {
      width: 40%;
    }
  }
}

.span__center {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: hsla(282, 100%, 80%, 1);
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  & a {
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .work {
    height: 250svh;
    & .work__title {
      font-size: 3rem;
      text-shadow: none;
      color: hsla(282, 100%, 80%, 1);
    }
    & .work__cards {
      & .card {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}
